body {
    /*Background gradients created by https://uigradients.com/# */
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 1080px;
}

form {
    width=100%;
}

input {
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
    color: white;
}
p {
  line-height: 80%;
}

#credits {
  margin-top: 80px;
  border-radius: 5px;
  max-width: 150px;
  color: white;
}

.header {
  display: inline-block;
  margin-left: 20px;
  margin-top: 8px;
}

/* Dropdown Menu*/
.dropmenu {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

iframe {
  float: right;
  display: inline-block;
}

.Event_list {
  width: 50%;
  text-align: center
  display: inline-block;
}

.dropmenu:hover, .dropmenu:focus {
    background-color: #2980B9;
}

.menu {
    position: relative;
    display: inline-block;
}

.dd-items {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dd-items a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dd-items a:hover {background-color: #ddd}

.show {display: block;}
/*End of Dropdown Menu*/
