body {
    /*Background gradients created by https://uigradients.com/# */
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 1080px;
}

form {
    width=100%;
}

input {
    margin: 0 auto;
}

.header {
    font-family: "Georgia", Times, serif;
    display: inline;
    color: white;
    text-align: inherit;
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
}

.nav {
  width: 50%;
  text-align: center;
}

h2 {
  font-family: "Georgia", Times, serif;
  color: #3498DB;
}

h1 {
  width: 100%;
  text-align: center;
}

p {
  line-height: 80%;
}

#credits {
  font-size: 18.5px;
  font-family: "Georgia", Times, serif;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  max-width: 150px;
  color: white;
}

/* Dropdown Menu*/
.dropmenu {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

#evName {
  margin: 0;
  width: 49%;
  float: left;
}

#evDate {
  float: left;
  width: 49%;
}

#lName {
  margin: 0;
  width: 49%;
  float: right;
}

#aNameBox {
  margin: 0;
  width: 60%;
}

#Avail {
  width: 49%;
  float: right;
}

#setAvail {
  margin: 0;
  width: 30%;
}

a {
  color: white;
}

.Event_list {
  /*width: 50%;*/
  width: 800px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

h3 {
  color: #3498DB;
}

h4 {
  color: white;
}

.availability {
  vertical-align: top;
  /*width: 50%;*/
  text-align: center;
  display: inline-block;
}

.time {
  width: 80px;
  background-color: rgba(200, 210, 250, .9);
  margin: 5px 5px;
  border-radius: 3px;
}

.dropmenu:hover, .dropmenu:focus {
    background-color: #2980B9;
}

.menu {
    position: relative;
    display: inline-block;
}

.button_container {
  position: relative;
  display: inline-block;
  float: right;
}

.dd-items {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dd-items a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dd-items a:hover {background-color: #ddd}

.show {display: block;}

.selected {
  background-color: green;
}

.textBody {
  font-size: 17px;
  font-family: "Georgia", Times, serif;
  color: white


}
